/* h1{
    color: aqua;
} */
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}
menu{
    display: flex;
}
div{
    display: flex;
}

/* игра с текстом */
.post-title {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}