/* h1{
    color: aqua;
} */
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}
menu{
    display: flex;
}
div{
    display: flex;
}

/* игра с текстом */
.post-title {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}
.post-text {
   
    font-size:  20px;
    font-weight: 400;
    font-style:initial;
        line-height: 1.5;
        letter-spacing: 1px;
}
.title {
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
    font-style: oblique;
}
pre {
font-family: 'Bungee Spice', cursive;
    color: #2a2a2a;
    font-size: 16px;
}

pre::first-letter {
font-family: 'Bungee Spice', cursive;
    font-size: 32px;
    color: #f44336;
}
