/* h1{
    color: aqua;
} */
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}
menu{
    display: flex;
}
div{
    display: flex;
}
.link {
    display: inline-block;
    padding: 16px 32px;

    border-radius: 3px;
    background-color: teal;
    color: white;

    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* игра с текстом */
.post-title {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}
.post-text {
   
    font-size:  20px;
    font-weight: 400;
    font-style:initial;
        line-height: 1.5;
        letter-spacing: 1px;
}
.title {
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
    font-style: oblique;
}
pre {
font-family: 'Bungee Spice', cursive;
    color: #2a2a2a;
    font-size: 16px;
}

pre::first-letter {
font-family: 'Bungee Spice', cursive;
    font-size: 32px;
    color: #f44336;
}


/* блочная модель */

.outer-box {
    width: 200px;
    height: 200px;
    background-color: teal;
    /* margin: 50px; */
}

.inner-box {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 25px;
    background-color: palevioletred;
}
.box {
    width: 100px;
    height: 100px;
    border: 5px solid tomato;
    margin: 50px;
}
.box {
    /* Установит стили верхней рамки */
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: blue;

    /* Установит стили правой рамки */
    border-right-width: 5px;
    border-right-style: dotted;
    border-right-color: black;

    /* Установит стили нинжней рамки */
    border-bottom-width: 7px;
    border-bottom-style: dashed;
    border-bottom-color: palevioletred;

    /* Установит стили левой рамки */
    border-left-width: 9px;
    border-left-style: dashed;
    border-left-color: green;
}
.link {
    display: inline-block;
    padding: 16px 32px;

    border-radius: 3px;
    background-color: teal;
    color: white;

    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}